.about-header {
	color: black;
	display: flex;
	justify-content: center;
	margin: 20px;
}

.about-description {
	width: 700px;
	margin: 0 auto;
	padding: 30px;
	background-color: rgb(232, 226, 226);
	border-radius: 10px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	box-shadow: 1px 1px black;
}
